{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">

{% endblock %}


{% block body %}
<div class="loginform ">
    <h1 style="text-align:center;margin-bottom:20px;font-weight:bold;font-size:35px;">Modifier Votre Password</h1>
    {% if msg == "Modification Reussi": %}
        <p style="color:green">{{ msg }}</p>
    {% else %}
        <p style="color:red">{{ msg }}</p>
    {% endif %}
    <form method="post" action="{{ url_for('account') }}">

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" >Password actuel</label>
            <input type="password"  class="form-control" name="old_password" />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" >Nouveau Password</label>
            <input type="password"  class="form-control" name="new_password" />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" >Confirmer Password</label>
            <input type="password"  class="form-control" name="confirm_new_password" />
          </div>

          <!-- Submit button -->
          <button type="submit" class="submitbtn btn mb-4 rounded-0 p-2 px-3 " >Modifier</button>

    </form>
</div>

{% endblock %}


