{% extends 'index.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

{% endblock %}


{% block body %}
<div class="loginform ">
    <h1 style="text-align:center;margin-bottom:20px;font-weight:bold;font-size:35px;">Se Connecter</h1>
    <p style="color:red">{{ msg }}</p>
    <form method="post" action="{{ url_for('login') }}">
          <!-- Email input -->
          <div class="form-outline mb-4">
              <label class="form-label" for="form2Example1">Adresse mail</label>
              <input type="email" id="form2Example1" class="form-control" name="email" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Mot de pass</label>
            <input type="password" id="form2Example2" class="form-control" name="password" />
          </div>

          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">

            <div class="col">
              <!-- Simple link -->
              <a href="#!" style="color: #658FBC;">Mot de pass oublier?</a>
            </div>
          </div>

          <!-- Submit button -->
          <button type="submit" class="submitbtn btn mb-4 rounded-0 p-2 px-3 " >Sign in</button>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Vous n'avez pas de compte? <a href="{{ url_for('register') }}" style="color: #658FBC;">Registrer</a></p>

          </div>
    </form>
</div>

{% endblock %}


